<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="post" action="/be.py">
            <div align="left">
                <table>
                    <tr>
                        <td><label for="nome">Nome</label></td>
                        <td><input type="text" id="nome" name="nome" placeholder="Nome"></td>
                    </tr>
                    <tr>
                        <td><label for="matricula">Matrícula</label></td>
                        <td><input type="text" id="matricula" name="matricula" placeholder="Matrícula"></td>
                    </tr>
                    <tr>
                        <td><label for="email">E-Mail</label></td>
                        <td><input type="email" id="email" name="email" placeholder="E-Mail"></td>
                    </tr>
                </table>
                <br>
                <label >Tipo de Usuario</label><br>
                <table>
                    <tr>
                        <td><input type="radio" id="membro" name="tipoDeUsuario" value="Membro" checked></td>
                        <td><label for="membro">Membro</label></td>
                    </tr>
                    <tr>
                        <td><input type="radio" id="trainee" name="tipoDeUsuario" value="Trainee"></td>
                        <td><label for="trainee">Trainee</label></td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpar">
            </div>
        </form>
    </body>
</html>
