<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Folha Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!--js-->
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>

		<!-- Custom styles for this template -->
		<link href="styllus.css" rel="stylesheet">
	</head>
	<body class="text-center">
		<form class="form-signin bloco" style="margin-top: auto">
			<h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>
			
			<div class="row py-2">	
				<label class="col-3 col-form-label" for="User"><h5>Usuário:</h5></label>
				<div class="col-9">
					<input type="text" id="User" class="form-control" placeholder="Usuário" required autofocus>
				</div>
			</div>
			
			<div class="row">	
				<label class="col-3 col-form-label" for="Senha" class="sr-only"><h5>Senha:</h5></label>
				<div class="col-9">
					<input type="password" id="Senha" class="form-control" placeholder="Senha" required>
				</div>
			</div>
			<div class="checkbox mb-3">
				<label>
					<input align="left" type="checkbox" value="remember-me"> Lembre de mim
				</label>	
			</div>	
				<a href="../Tela de Cadastro/TelaDeCadastro.html" type="btn" class="btn btn-outline-emakers px-5">Cadastrar</a>	
				<button type="submit" class="btn btn-outline-emakers px-5">Enviar</button>				
				
		</form>
</html>
